<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.mapper.ListSongMapper">
    <resultMap id="BaseResultMap" type="com.xs.domain.ListSong">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="songId" column="song_id" jdbcType="INTEGER"/>
            <result property="songListId" column="song_list_id" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addListSong">
        insert into list_song(song_id, song_list_id) VALUES (#{songId}, #{songListId})
    </insert>

    <delete id="deleteBySongListId">
        delete
            list_song
        from
            list_song
        where
            song_list_id = #{id}
    </delete>

    <select id="getSongNameBySingerId" resultType="com.xs.dto.ListSongDto">
        select
            id songId, name songName
        from
            song
        where
            singer_id = #{singerId}
    </select>

    <select id="getAll" resultType="com.xs.domain.ListSong">
        select
            id, song_id, song_list_id
        from
            list_song
        where
            song_list_id = #{id}
    </select>

    <select id="getAllListSongBySongListId" resultType="com.xs.vo.ListSongVo">
        select
            l.id,
            l.song_id,
            l.song_list_id,
            concat(s1.name, '-' ,s2.name) singerNameAndsongName
        from
            list_song l
                inner join song s2 on l.song_id = s2.id
                inner join singer s1 on s2.singer_id = s1.id
        where l.song_list_id = #{songListId}
    </select>

</mapper>
